
# data science
pandas==2.1.0
numpy
matplotlib
seaborn
scikit-learn

# devops
pylint
pytest
click
black
pytest-cov
boto3
# required for this project
ruff # lint code
nbval # nbval plugin for pytest
nbqa